<div class="navbar-fixed" style="height: 35px;">
  <nav style="height: 35px;" class="white">
    <div class="nav-wrapper container">
      <a href="#!/refselector" class="brand-logo center black-text light" style="font-size:15px; margin-top:-10px">{{passagetitle}}</a>
    </div>
  </nav>
</div>
<div class="fixed-action-btn">
  <a href="#!/refselector" class="btn-floating btn-small orange">
    <i class="small material-icons">home</i>
  </a>
</div>
<div class="container">
  <h4 class="center-align light">{{passagetitle}}</h4>
  <p id="passagetag"></p>
</div>
