<!-- <nav>
  <div class="nav-wrapper container">
    <a href="#!/refselector" class="brand-logo center"><i class="material-icons">add</i></a>
  </div>
</nav> -->
<div class="search-wrapper card input-field" style="margin-right: 10px; margin-left: 10px">
  <form>
    <div class="input-field">
      <input id="search" type="search" style="margin-left: 50px;border-bottom: 0px; box-shadow: 0 0 0 0;width: 200pt;" required>
      <label class="label-icon" for="search" style="top: -3px;"><i class="material-icons">search</i></label>
      <!-- <i class="material-icons">close</i> -->
    </div>
  </form>
</div>
<div class="container">
  <center>
  <div class="row">
    <div class="col s6">
      <a ng-click="closeapp()" class="waves-effect waves-light btn-large">Concordance</a>
    </div>
    <div class="col s6">
      <a class="waves-effect waves-light btn-large">Dictionary</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="#!/refselector" class="waves-effect waves-light btn-large">Song Index</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn-large">Add new song</a>
    </div>
  </div>
</center>
</div>
<br>
<div class="container">
  <h3 class="center-align">9:50 PM</h3>
  <p class="center-align">Wednesday, May 20</p>
  <br><br>
  <center><a href="#!/refselector" class="waves-effect waves-light btn-large red darken-1" style="position: fixed;bottom: 15px;left: 15px;right: 15px;">KJV</a></center>
</div>
